$text-line-height-xs: 16px !default;
$text-line-height-sm: 20px !default;
$text-line-height-lg: 24px !default;
$text-line-height-xl: 28px !default;
$text-line-height-2xl: 28px !default;
$text-line-height-3xl: 32px !default;
$text-line-height-4xl: 36px !default;
$text-line-height-5xl: 40px !default;
$text-line-height-6xl: 64px !default;
$text-line-height-7xl: 80px !default;
$text-line-height-8xl: 96px !default;
$text-line-height-9xl: 128px !default;
$text-line-height-10xl: 160px !default;
